* {
  box-sizing: border-box;
}
.App{
  background-color: #041929;
 
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  text-align: center;
  color: aqua;
}
.search{
  display: inline-block;
}


